.sidebar {
  position: fixed;
  top: 60px;
  bottom: 0;
  left: 0;
  max-width: fit-content;
  background-color: white;
  z-index: 101;
  padding-left: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.sidebar-btns {
  height: 100px;
  width: 80%;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: all 0.5s;
}

.sidebar-btns:hover {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  background-color: rgb(216, 216, 216);
  transform: scale3d(1.25, 1.25, 1.25) rotateX(12deg) rotateY(-12deg);
}

.sidebar-btns:active {
  background-color: rgb(209, 209, 209);
  transform: scale3d(1.08, 1.08, 1.08) rotateX(7deg) rotateY(-7deg);
}

.sdbar-icon {
  height: 25px;
}

/* or Apparently we can just use this line of code instead of the above one as this one saves us the hassle of going to each img and setting a class.
.sidebar-btns img {
  height: 30px;
} */

.sdbar-text {
  font-size: 14px;
  font-weight: 700;
  padding: 10px 2px 0px 2px;
}
